#home-zone {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: var(--actionbar-height);

  background: black;
  z-index: 1000;

  color: white;
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  line-height: var(--actionbar-height);
}

#home-zone .info {
  flex: 1;
}
#home-zone .home {
  flex: 2;
}
#home-zone .menu {
  flex: 1;
  position: relative;
}

.menu span {
  position: absolute;
  width: 50px;
  left: calc(50% - 25px);
  transform: rotate(0deg);

  animation-duration:  0.3s;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
}

.menu .more {
  opacity: 1;
  animation-name: show-more;
}

.menu .add {
  opacity: 0;
  animation-name: hide-add;
}

.menu.show-add .more {
  animation-name: hide-more;
}

.menu.show-add .add {
  animation-name: show-add;
}

@keyframes show-add {
  from {
    opacity: 0;
    transform: rotate(0deg);
  }
  to {
    opacity: 1;
    transform: rotate(-360deg);
  }
}

@keyframes hide-add {
  from {
    opacity: 1;
    transform: rotate(-360deg);
  }
  to {
    opacity: 0;
    transform: rotate(0deg);
  }
}

@keyframes hide-more {
  from {
    opacity: 1;
    transform: rotate(0deg);
  }
  to {
    opacity: 0;
    transform: rotate(-360deg);
  }
}

@keyframes show-more {
  from {
    opacity: 0;
    transform: rotate(-360deg);
  }
  to {
    opacity: 1;
    transform: rotate(0deg);
  }
}
