#statusbar {
  flex: 0 var(--statusbar-height);
  border-bottom: 1px black solid;

  text-align: center;
  line-height: var(--statusbar-height);
  background: white;
}

#notifications {
  flex: 1;
  overflow-y: scroll;
}

#notifications li {
  padding: 5px 10px;
  border-bottom: 1px black solid;
}

#notifications li:last-child {
  border-bottom: 0;
}

#notifications li > * {
  margin: 4px;
}
