#notifications {
  margin-top: var(--statusbar-height);
  flex: 1;
  overflow-y: scroll;
}

#notifications li {
  padding: 5px 10px;
  border-bottom: 1px black solid;
}

#notifications li:last-child {
  border-bottom: 0;
}

#notifications li > * {
  margin: 4px;
}
