html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;

  font-family: sans-serif;
  background: #bcbcbc;
}

body {
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
  transform: scale(0.88);
}

:root {
  --statusbar-height: 30px;
  --actionbar-height: 50px;
}

/* Re-usable */
.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.styled-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Layers */
#bottom-layer {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;

  background: #bcbcbc;
}

#tabs-layer {
  padding-right: 20px;

  overflow-y: scroll;
  scroll-snap-type: mandatory;
  scroll-snap-destination: 0 0;

  pointer-events: none;
}

