#tabs {
  position: absolute;
  top: 50%;
  left: 0;

  scroll-snap-type: mandatory;
  scroll-snap-destination: 50% 0px;
  scroll-snap-points-y: repeat(100%);
}

#tabs-background {
  position: absolute;
  top: calc(50% + var(--statusbar-height));
  left: 0;
  width: 100%;
  height: calc(50% - var(--statusbar-height));

  background: gray;
}

.tab {
  position: absolute;
  left: 0;

  animation-duration:  0.3s;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
}

/* Prevents a reflow but screws up position:sticky, so skipping for .current */
.tab:not(.current) {
  transform: translate(0, 0);
}

.tab .frame {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.tab.current {
  overflow: visible;
}

.tab.current .close {
  opacity: 0;
}

.tab.current.in-tabs-view .close {
  opacity: 1;
}

.tab.current .frame {
  position: sticky;
  top: var(--statusbar-height);
}

.tab:not(.current) {
  scroll-snap-coordinate: 50% 0;
}

.frame .url {
  flex: 0 var(--actionbar-height);

  text-align: center;
  line-height: var(--actionbar-height);

  border-top: 1px black solid;
  background: #efefef;

  pointer-events: auto;
}

.url .close {
  position: absolute;
  top: 0;
  right: 10px;
  width: var(--actionbar-height);
  height: var(--actionbar-height);

  font-weight: bold;
  font-size: 32px;
  line-height: var(--actionbar-height);
  text-align: right;

  transition: opacity 0.3s linear;
}

.frame .iframe {
  flex: 1;
  background: gray;
}

.tab.will-close {
  animation-name: will-close;
}

.tab.move-up {
  animation-name: move-up;
}

@keyframes will-close {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes move-up {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(calc(var(--actionbar-height) * -1));
  }
}
