#tabs {
  position: absolute;
  top: 50%;
  left: 0;

  scroll-snap-type: mandatory;
  scroll-snap-destination: 50% 0px;
  scroll-snap-points-y: repeat(100%);
}

.tab {
  position: absolute;
  left: 0;
}

.tab .frame {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.tab.current {
  overflow: visible;
}

.tab.current .frame {
  position: sticky;
  top: var(--statusbar-height);
}

.tab:not(.current) {
  scroll-snap-coordinate: 50% 0;
}

.frame .url {
  flex: 0 var(--actionbar-height);

  text-align: center;
  line-height: var(--actionbar-height);

  border-top: 1px black solid;
  background: #efefef;

  pointer-events: auto;
}

.frame .iframe {
  flex: 1;
  background: gray;
}

.frame .chrome {
  display: flex;
  flex: 0 var(--actionbar-height);

  font-size: 30px;
  font-weight: bold;
  line-height: var(--actionbar-height);
  text-align: center;
  background: #efefef;

  pointer-events: auto;
}

.chrome .navigation {
  flex: 1;
}

.chrome .home {
  flex: 2;
}

.chrome .menu {
  flex: 1;
}

#new-tab {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--actionbar-height);
  padding-top: 1px;

  color: white;
  font-size: 30px;
  text-align: center;
  line-height: var(--actionbar-height);
  background: black;
}
